<h1>Todos</h1>

<%= link_to 'New Todo', new_todo_path %>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= link_to todo.title, todo %> <br>
      <strong>User:</strong> <%= link_to todo.user.name, user_path(todo.user) %><br>
      <strong>Categories:</strong> <%= todo.categories.map { |category| link_to category.title, category_path(category) }.join(", ").html_safe %>
    </li>
  <% end %>
</ul>
